<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./password-2.css" />
    <title>Password</title>
  </head>
  <body>
    <div class="login">
      <section class="home-login">
        <img src="../../Logos/Logo.svg" alt="Logo" class="logo" />
        <h1 class="title">Create a new password</h1>
        <p class="subtitle">Enter a new password for your account</p>
      </section>
      <section class="form-container">
        <form action="" class="form">
          <label for="email" class="label">
            Email addres
            <input
              id="email"
              type="email"
              name="email"
              placeholder="example@gmail.com"
              class="input input-email"
            />
          </label>
          <button type="submit" class="primary-button login-button">
            Submit
          </button>
          <a href="#" class="back-to-login">Back to login</a>
        </form>
      </section>
    </div>
  </body>
</html>
