<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <title>Home</title>
  </head>
  <body>
    <!-- * MAIN CARD-->
    <section class="main-container">
      <!-- * CONTAINER CARD-->
      <div class="cards-container">
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>

        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
        <!-- * PRODUCT CARD-->
        <div class="product-card">
          <img
            src="../assets/t-shirt-2.png"
            alt="T-SHIRT"
            class="product-img"
          />
          <div class="product-info">
            <div class="product-details">
              <p>$25,00</p>
              <p>T-shirt</p>
            </div>
            <figure>
              <img
                src="../Icons/bt_add_to_cart.svg"
                alt="Add to cart"
                class="icon"
              />
            </figure>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
