<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./my-account.css" />
    <title>My account</title>
  </head>
  <body>
    <div class="login">
      <section class="home-account">
        <h1 class="title">My account</h1>
      </section>
      <section class="form-container">
        <form action="" class="form">
          <label for="name" class="label">
            Name
            <input
              id="name"
              type="text"
              name="name"
              placeholder="Yulianny Betancoourt"
              class="input input-name"
            />
          </label>
          <label for="email" class="label">
            Email address
            <input
              id="email"
              type="email"
              name="email"
              placeholder="example@gmail.com"
              class="input input-email"
            />
          </label>
          <label for="password" class="label">
            Password
            <input
              id="password"
              type="password"
              name="password"
              placeholder="********"
              class="input input-password"
            />
          </label>
          <button
            type="submit"
            value="Create"
            class="primary-button login-button button"
          >
            Save
          </button>
        </form>
      </section>
    </div>
  </body>
</html>
