<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login">
      <section class="home-login">
        <img src="../../Logos/logo_bota_fora.svg" alt="Logo" class="logo" />
      </section>
      <section class="form-container">
        <form action="" class="form">
          <label for="email" class="label">
            Email address
            <input
              id="email"
              type="email"
              name="email"
              placeholder="enter an valid email"
              class="input"
            />
          </label>
          <label for="password" class="label">
            Password
            <input
              id="password"
              type="password"
              name="password"
              placeholder="enter a password"
              class="input"
            />
          </label>
          <button type="submit" class="primary-button login-button">
            Log in
          </button>
          <a href="#" class="forgot-login">Forgot my password</a>
          <button class="secundary-button login-button button">Sign up</button>
        </form>
      </section>
    </div>
  </body>
</html>
