<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./send-email.css" />
    <title>Send Email</title>
  </head>
  <body>
    <div class="send-email container">
      <section class="home-email">
        <img src="../../Logos/Logo.svg" alt="Logo" class="logo" />
        <h1 class="title">Email has been sent!</h1>
        <p class="subtitle">
          Please check your inbox for instructions on how to reset the password
        </p>
      </section>
      <section class="section">
        <img src="../../Icons/email.svg" alt="message" class="email" />
      </section>
      <button type="submit" class="primary-button login-button">Login</button>
      <p>
        Didn't receive the email? <a href="#" class="resend-email">Resend</a>
      </p>
    </div>
  </body>
</html>
